.outerContainer { 
    display: flex; 
    justify-content: center;
}

.baseContainer {
    display: flex;
    justify-content: center;
    border: 10px solid black;
    height: 90%;
    width: 90%;
    padding: 1%;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 1px solid red;
    width: 75%;
    padding: 5%;
}

.contentHomeParagraph{
    font-size: large;
}