.outerContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 12px;
}

.baseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 90%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 89, 105);
  width: 85%;
  padding: 5%;
  margin: 0;
  border-radius: 25px;
  box-shadow: 0 0 12px black;
}

.contentHeader {
  color: white;
  margin-top: -12px;
}

.contentHomeParagraph {
  font-size: x-large;
  text-indent: 2rem;
  color: white;
  text-align: center;
}
