.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  background: linear-gradient(var(--text-color), var(--dark-background-color));
  padding: 12px;
  margin-bottom: 12px;
}

.headerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant-caps: all-petite-caps;
  flex-flow: column;
  height: 90%;
  background-color: rgba(41, 103, 123, 0.169);
  text-align: center;
  padding: 12px;
  border-radius: 15px;
}

.headerName {
  font-size: clamp(18px, 2vw, 48px);
  color: white;
  text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color), 1px 1px 0 var(--background-color);
}

.headerTagline {
  font-size: clamp(18px, 2vw, 48px);
  color: white;
  text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color), 1px 1px 0 var(--background-color);
}

@media (max-width: 600px) {
  .headerName {
  }
  .headerTagline {
  }
}

.profileImage {
  width: auto;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 10;
}

.profileImage:hover {
  @media (hover: hover) and (pointer: fine) {
    transform: scale(1.5) translate(-2.5px, 15px);
  }
}

.profileImage.transformed {
  transform: scale(1.5) translate(-2.5px, 15px);
}

.navigationButtonsContainer {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
